<Project>
  <PropertyGroup>
    <OutputPath>$(AppData)\OuterWildsModManager\OWML\Mods\Etherpod.T0187</OutputPath>
    <UnityProjectDir>$(SolutionDir)\..\ow-assets-jam-5</UnityProjectDir>
    <UnityProjectModDir>$(UnityProjectDir)\Assets\Dlls</UnityProjectModDir>
  </PropertyGroup>
</Project>